<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="dev,staging">
        <logger name="guru.springframework.controllers" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>>
    </springProfile>
    <springProfile name="production">
    <logger name="guru.springframework.controllers" level="WARN" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    </springProfile>
    <if condition='property("spring.profiles.active").contains("dev")'>
        <then>
            <logger name="guru.springframework.helpers" level="DEBUG" additivity="false">
                <appender-ref ref="CONSOLE" />
            </logger>
        </then>
        <else>
            <logger name="guru.springframework.helpers" level="WARN" additivity="false">
                <appender-ref ref="FILE" />
            </logger>
        </else>
    </if>
</configuration>